<div class="align-right">
  <button mat-raised-button>+ Course</button>
</div>


<div class="course-card">
  <div class="card-image">
    <img src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1171" alt="Skincare course">
    <span class="badge">New</span>
  </div>

  <div class="card-body">
    <h4 class="course-title">The Ultimate Beginners Guide to Skincare</h4>
<!--
    <div class="rating">
      <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
      <span class="rating-score">5.00</span>
    </div> -->

    <div class="author">
      <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Author">
      <span>Noah Oliver</span>
    </div>
  </div>
</div>
